extends ../components/page
block title
  |Каталог потолков
block link
  //- link(rel="stylesheet", href="styles/swiper.min.css")
block content

  include ../components/screens/sale
  include ../components/screens/calculator
  include ../components/screens/tabs
  include ../components/screens/ready-solutions
  include ../components/screens/gallery
  include ../components/screens/feedback-catalog-inner
  include ../components/screens/measurement
