extends ../components/page
block title
  |Главная страница
block link
  //- link(rel="stylesheet", href="styles/swiper.min.css")
block content
  include ../components/screens/screen-1
  //- you become
  include ../components/screens/you-become
  //-calculator
  include ../components/screens/calculator
  //-catalog
  include ../components/screens/catalog
  //-get-pdf
  include ../components/screens/get-pdf
  //-shop-now
  include ../components/screens/shop-now
  //-personal-guarantee
  include ../components/screens/personal-guarantee
  //- diamond
  include ../components/screens/diamond
  //-our-benefits
  //- include ../components/screens/our-benefits


  //- feedback
  include ../components/screens/feedback
  //-free-lamp
  include ../components/screens/free-lamp
  //-criteria
  include ../components/screens/criteria
  //-certificates
  include ../components/screens/certificates
  //-faq
  include ../components/screens/faq
  //-callback
  include ../components/screens/callback
  //- map
  include ../components/screens/map
  include ../components/popup-our-offices
  include ../components/popup-calculator
  include ../components/popup-buy
