.d-none.d-md-block.criteria
  .container
    .row
      .col-12.wow.fadeInUp
        span.screen-headig.criteria-heading ПО КАКИМ КРИТЕРИЯМ ВЫ
        span.screen-description.criteria-description легко сравните нас с конкурентами?
      .col-12
        .d-none.d-md-block.criteria-item
          .criteria-item-img.wow.fadeInLeft(style="background-image: url(assets/img/purse.png)")
          span.criteria-item-text-big.wow.fadeInLeft Цена
          .criteria-item-circle.wow.fadeInLeft
            .criteria-item-circle-benefit
              .criteria-item-circle-benefit-icon
                i(style="background-image: url(assets/img/icons/best-prices.svg)")
                include ../tooltip-content.pug
              span.criteria-item-circle-benefit-text 
                b Лучшие цены
                  br
                  |— за 1м2  
                span.text-decoration-line-through 350  
                |
                |
                b 199 р. 
                br
                |На 15-18% ниже
                br
                |средней цены
                br
                |по региону.
            .criteria-item-circle-benefit
              .criteria-item-circle-benefit-icon
                i(style="background-image: url(assets/img/icons/honest-price.svg)")
                include ../tooltip-content.pug
              span.criteria-item-circle-benefit-text 
                b Честная
                  br
                  |цена
            .criteria-item-circle-benefit
              .criteria-item-circle-benefit-icon
                i(style="background-image: url(assets/img/icons/credit-card.svg)")
                include ../tooltip-content.pug
              span.criteria-item-circle-benefit-text 
                b Рассрочка
                br
                |на замере
                br
                |без банка
        .d-none.d-md-block.criteria-item
          .criteria-item-img.wow.fadeInRight(style="background-image: url(assets/img/helmet.png)")
          span.criteria-item-text-big.wow.fadeInRight 
            |Бесплатные
            br
            |опции
          .criteria-item-circle.wow.fadeInRight
            .criteria-item-circle-benefit
              .criteria-item-circle-benefit-icon
                i(style="background-image: url(assets/img/icons/car.svg)")
                include ../tooltip-content.pug
              span.criteria-item-circle-benefit-text 
                b Доставка
                  br
                  |и замер
            .criteria-item-circle-benefit
              .criteria-item-circle-benefit-icon
                i(style="background-image: url(assets/img/icons/service.svg)")
                include ../tooltip-content.pug
              span.criteria-item-circle-benefit-text 
                b Сервисное
                  br
                  |обслуживание
            .criteria-item-circle-benefit
              .criteria-item-circle-benefit-icon
                i(style="background-image: url(assets/img/icons/electric.svg)")
                include ../tooltip-content.pug
              span.criteria-item-circle-benefit-text 
                b Разводка
                  br
                  |электрики
                br
                |по потолку
                br
                |под ключ
            .criteria-item-circle-benefit
              .criteria-item-circle-benefit-icon
                i(style="background-image: url(assets/img/icons/cleaning.svg)")
                include ../tooltip-content.pug
              span.criteria-item-circle-benefit-text 
                b Чистый
                  br
                  |монтаж
            .criteria-item-circle-benefit
              .criteria-item-circle-benefit-icon
                i(style="background-image: url(assets/img/icons/lighting.svg)")
                include ../tooltip-content.pug
              span.criteria-item-circle-benefit-text 
                b Подбор
                  br
                  |правильного
                  br
                  |потолочного
                br
                |освещения по СНиП
            .criteria-item-circle-benefit
              .criteria-item-circle-benefit-icon
                i(style="background-image: url(assets/img/icons/cleanser.svg)")
                include ../tooltip-content.pug
              span.criteria-item-circle-benefit-text 
                b Профессиональное
                  br
                  |Моющее средство
                br
                |В ПОДАРОК!
        .d-none.d-xl-block.criteria-item
          .criteria-item-img.wow.fadeInLeft(style="background-image: url(assets/img/gears.png)")
          span.criteria-item-text-big.wow.fadeInLeft Сервис
          .criteria-item-circle.wow.fadeInLeft
            .criteria-item-circle-benefit
              .criteria-item-circle-benefit-icon
                i(style="background-image: url(assets/img/icons/insulation.svg)")
                include ../tooltip-content.pug
              span.criteria-item-circle-benefit-text 
                b Потолок +
                  br
                  |Шумоизоляция
                br
                |под «КЛЮЧ»
            .criteria-item-circle-benefit
              .criteria-item-circle-benefit-icon
                i(style="background-image: url(assets/img/icons/choice-of-accessories.svg)")
                include ../tooltip-content.pug
              span.criteria-item-circle-benefit-text 
                b Выбор полного
                  br
                  |комплекта
                  br
                  |аксессуаров
                  br
                  |на замере – 
                br
                |от светильников
                br
                |до вентиляции.
                br
                |30 мин, не выходя
                br
                |из дома.
            .criteria-item-circle-benefit
              .criteria-item-circle-benefit-icon
                i(style="background-image: url(assets/img/icons/drill.svg)")
                include ../tooltip-content.pug
              span.criteria-item-circle-benefit-text 
                b Срочная
                  br
                  |установка
        .d-none.d-xl-block.criteria-item
          .criteria-item-img.wow.fadeInRight(style="background-image: url(assets/img/shield.png)")
          span.criteria-item-text-big.wow.fadeInRight
            |Защита
          .criteria-item-circle.wow.fadeInRight
            .criteria-item-circle-benefit
              .criteria-item-circle-benefit-icon
                i(style="background-image: url(assets/img/icons/guarantee.svg)")
                include ../tooltip-content.pug
              span.criteria-item-circle-benefit-text 
                b Гарантия на
                  br
                  |потолок
            .criteria-item-circle-benefit
              .criteria-item-circle-benefit-icon
                i(style="background-image: url(assets/img/icons/umbrella.svg)")
                include ../tooltip-content.pug
              span.criteria-item-circle-benefit-text 
                b Защита от
                  br
                  |затоплений
            .criteria-item-circle-benefit
              .criteria-item-circle-benefit-icon
                i(style="background-image: url(assets/img/icons/shield-2.svg)")
                include ../tooltip-content.pug
              span.criteria-item-circle-benefit-text 
                b Подлинность
                  br
                  |и защита
                  br
                  |от подделок
            .criteria-item-circle-benefit
              .criteria-item-circle-benefit-icon
                i(style="background-image: url(assets/img/icons/honest-price.svg)")
                .criteria-item-circle-benefit-icon-tooltip
                  span.criteria-item-circle-benefit-icon-tooltip-we
                    b Мастер Потолков:
                    br
                    |
                    |
                    |Благодаря крупным объемам закупок материалов, работе напрямую с поставщиками, наличию 
                    |в штате всех необходимых специалистов для установки и обслуживания натяжных потолков, 
                    |мы гарантируем лучшую цену для наших клиентов.
                  span.criteria-item-circle-benefit-icon-tooltip-concurents
                    b Конкуренты:
                    br
                    |
                    | 
                    |85% компаний – мелкие, из 1-2 человек. Заработок не на объеме продаж, а на торговой 
                    |наценке. Ради увеличения прибыли используют самые дешёвые материалы, зачастую пренебрегают 
                    |технологиями установки и безопасности.
              span.criteria-item-circle-benefit-text 
                b Гарантия
                  br
                  |возврата
                  br
                  |средств
            .criteria-item-circle-benefit
              .criteria-item-circle-benefit-icon
                i(style="background-image: url(assets/img/icons/power.svg)")
                include ../tooltip-content.pug
              span.criteria-item-circle-benefit-text 
                b Монтаж
                  br
                  |проводки
                br
                |по нормам СНиП
            .criteria-item-circle-benefit
              .criteria-item-circle-benefit-icon
                i(style="background-image: url(assets/img/icons/24-7.svg)")
                include ../tooltip-content.pug
              span.criteria-item-circle-benefit-text 
                b Тех поддержка 24/7
                br
                |Viber
                br
                |Whatsap
                br
                |Telegram
      .d-none.d-md-block.d-xl-none.col-12
        .feedback-see-more.wow.fadeInUp
          a(href="#") Смотреть еще
      .d-blcok.d-md-none.col-12
        .criteria-mobile
          .criteria-mobile-item
            .criteria-mobile-item-content
              .criteria-mobile-item-content-icon
                i(style="background-image: url(assets/img/icons/best-prices.svg)")
                include ../tooltip-content.pug
              span
                b Лучшие цены
                  br
                  |— за 1м2  
                span.text-decoration-line-through 350  
                |
                |
                b 199 р. 
                br
                |На 15-18% ниже
                br
                |средней цены
                br
                |по региону.
          .criteria-mobile-item
            .criteria-mobile-item-content
              .criteria-mobile-item-content-icon
                i(style="background-image: url(assets/img/icons/lighting.svg)")
                include ../tooltip-content.pug
              span
                b Подбор
                  br
                  |правильного
                  br
                  |потолочного
                br
                |освещения
                br
                |по СНиП
          .criteria-mobile-item
            .criteria-mobile-item-content
              .criteria-mobile-item-content-icon
                i(style="background-image: url(assets/img/icons/drill.svg)")
                include ../tooltip-content.pug
              span
                b Срочная
                  br
                  |установка
                br
                |- в течение
                br
                |24 часов
          .criteria-mobile-item
            .criteria-mobile-item-content
              .criteria-mobile-item-content-icon
                i(style="background-image: url(assets/img/icons/guarantee.svg)")
                include ../tooltip-content.pug
              span
                b 20 лет
                  br
                  |официальная
                br
                |гарантия
                br
                |по договору

