.diamond
  .diamond-head
    .container
      .row
        .col-12.col-lg-10.offset-lg-1.wow.fadeInUp
          span.you-become-text-small Делаем на совесть,
          br
          span.you-become-text-big стремимся 
            br
            |работать безупречно
  span.d-none.d-md-block.diamond-bg-text.wow.fadeInLeft Безупречно
  .container
    .row
      .col-12.col-xl-10.offset-xl-1
        .d-block.d-xl-none.diamond-headings
          span.diamond-headings-item.diamond-headings-item-left Наша команда
          span.d-none.diamond-headings-item.diamond-headings-item-right Нам доверяют
        .diamond-content-wrapper
          .diamond-content
            a(href="#").d-none.d-xl-inline-block.diamond-button.diamond-button-left
              include ../../../assets/img/icons/long-arrow-right.svg
              span.diamond-button-text Команда
              span.diamond-button-bg-text K
            .d-none.d-xl-block.diamond-achievements.wow.fadeInDown
              .diamond-achievements-item
                span.diamond-achievements-item-number.wow.fadeIn(data-wow-delay="0.8s") 14
                span.diamond-achievements-item-line.wow.fadeInLeft(data-wow-delay="0.5s")
                span.diamond-achievements-item-description.wow.fadeIn(data-wow-delay="0.8s") лет безупречной работы
              .diamond-achievements-item
                span.diamond-achievements-item-number.wow.fadeIn(data-wow-delay="1.3s") 1 500 000
                span.diamond-achievements-item-line.wow.fadeInLeft(data-wow-delay="1s")
                span.diamond-achievements-item-description.wow.fadeIn(data-wow-delay="1.3s") кв.м2 установленных
                  |потолков
              .diamond-achievements-item
                span.diamond-achievements-item-number.wow.fadeIn(data-wow-delay="1.8s") 125
                span.diamond-achievements-item-line.wow.fadeInLeft(data-wow-delay="1.5s")
                span.diamond-achievements-item-description.wow.fadeIn(data-wow-delay="1.8s") сотрудников
                  br
                  |в 3 филиалах по ЦФО
              .diamond-achievements-item
                span.diamond-achievements-item-number.wow.fadeIn(data-wow-delay="2.3s") 36 000
                span.diamond-achievements-item-line.wow.fadeInLeft(data-wow-delay="2s")
                span.diamond-achievements-item-description.wow.fadeIn(data-wow-delay="2.3s") счастливых клиентов
            span.d-none.d-xl-block.diamond-blocks-name.diamond-blocks-name-left Наша команда
            .diamond-blocks-item.diamond-blocks-item-left
              .diamond-blocks-body
                .diamond-blocks-logo
                  img(src="assets/img/icons/logo.svg", alt="Мастер потолков")
                .diamond-blocks-image(style="background-image: url(assets/img/mp-team.jpg)")
                p.diamond-blocks-text.
                  Накопившийся опыт работы и сотрудничество только с наиболее 
                  надёжными поставщиками, позволяет нам предлагать своим клиентам 
                  гарантированно качественный материал со всеми необходимыми сертификатами.
                a.diamond-blocks-button(href="#") Подробнее
            span.d-none.d-xl-block.diamond-blocks-name.diamond-blocks-name-right Нам доверяют
            .diamond-blocks-item.diamond-blocks-item-right
              .diamond-blocks-logo
                img(src="assets/img/koshelev-logo.png", alt="Кошелев проект")
              .diamond-blocks-image
                .diamond-blocks-image-swiper.ds1
                  .swiper-wrapper
                    .diamond-blocks-image-swiper-slide(style="background-image: url(assets/img/koshelev-img-1.jpg)")
                    .diamond-blocks-image-swiper-slide(style="background-image: url(assets/img/koshelev-img-2.jpg)")
                  .diamond-blocks-image-swiper-button.diamond-blocks-image-swiper-button-prev
                  .diamond-blocks-image-swiper-button.diamond-blocks-image-swiper-button-next
              p.diamond-blocks-text.
                Накопившийся опыт работы и сотрудничество только с наиболее надёжными поставщиками, 
                позволяет нам предлагать своим клиентам гарантированно качественный материал 
                со всеми необходимыми сертификатами и оказывать высококвалифицированную услугу 
                по монтажу потолков.
            .diamond-blocks-item.diamond-blocks-item-right
              .diamond-blocks-logo
                img(src="assets/img/mntk-logo.png", alt="МНТК")
              .diamond-blocks-image
                .diamond-blocks-image-swiper.ds2
                  .swiper-wrapper
                    .diamond-blocks-image-swiper-slide(style="background-image: url(assets/img/mntk-img-1.jpg)")
                    .diamond-blocks-image-swiper-slide(style="background-image: url(assets/img/mntk-img-2.jpg)")
                  .diamond-blocks-image-swiper-button.diamond-blocks-image-swiper-button-prev
                  .diamond-blocks-image-swiper-button.diamond-blocks-image-swiper-button-next
              p.diamond-blocks-text.
                Накопившийся опыт работы и сотрудничество только с наиболее надёжными поставщиками, 
                позволяет нам предлагать своим клиентам гарантированно качественный материал 
                со всеми необходимыми сертификатами и оказывать высококвалифицированную услугу 
                по монтажу потолков..
            .diamond-blocks-item.diamond-blocks-item-right
              .diamond-blocks-logo
                img(src="assets/img/yandex-logo.png", alt="МНТК")
              .diamond-blocks-image
                .diamond-blocks-image-swiper.ds3
                  .swiper-wrapper
                    .diamond-blocks-image-swiper-slide(style="background-image: url(assets/img/yandex-img-1.jpg)")
                    .diamond-blocks-image-swiper-slide(style="background-image: url(assets/img/yandex-img-2.jpg)")
                  .diamond-blocks-image-swiper-button.diamond-blocks-image-swiper-button-prev
                  .diamond-blocks-image-swiper-button.diamond-blocks-image-swiper-button-next
              p.diamond-blocks-text.
                Накопившийся опыт работы и сотрудничество только с наиболее надёжными поставщиками, 
                позволяет нам предлагать своим клиентам гарантированно качественный материал 
                со всеми необходимыми сертификатами.
              a.diamond-blocks-button(href="#") Подробнее
            a(href="#").d-none.d-xl-inline-block.diamond-button.diamond-button-right
              span.diamond-button-text Доверие
              span.diamond-button-bg-text Д
              include ../../../assets/img/icons/long-arrow-right.svg
          .d-flex.d-xl-none.diamond-content-wrapper-button.diamond-content-wrapper-button-prev
            include ../../../assets/img/icons/long-arrow-right.svg
          .d-flex.d-xl-none.diamond-content-wrapper-button.diamond-content-wrapper-button-next
            include ../../../assets/img/icons/long-arrow-right.svg







































//- .diamond
//-   span.diamond-bg-text Безупречно
//-   .container
//-     .row
//-       .col-10.offset-1
//-         .diamond-content
//-           a(href="#").diamond-button.diamond-button-left
//-             include ../../../assets/img/icons/long-arrow-right.svg
//-             span.diamond-button-text Наша 
//-               br
//-               |команда
//-             span.diamond-button-bg-text K
//-           .diamond-achievements
//-             .diamond-achievements-item
//-               span.diamond-achievements-item-number 14
//-               span.diamond-achievements-item-line
//-               span.diamond-achievements-item-description лет безупречной работы
//-             .diamond-achievements-item
//-               span.diamond-achievements-item-number 1 500 000
//-               span.diamond-achievements-item-line
//-               span.diamond-achievements-item-description кв.м2 установленных

//-                 |потолков
//-             .diamond-achievements-item
//-               span.diamond-achievements-item-number 125
//-               span.diamond-achievements-item-line
//-               span.diamond-achievements-item-description сотрудников
//-                 br
//-                 |в 3 филиалах по ЦФО
//-             .diamond-achievements-item
//-               span.diamond-achievements-item-number 36 000
//-               span.diamond-achievements-item-line
//-               span.diamond-achievements-item-description счастливых клиентов
//-           .diamond-blocks.diamond-blocks-left
//-             span.diamond-blocks-name Наша команда
//-             .diamond-blocks-item
//-               .diamond-blocks-body
//-                 .diamond-blocks-logo
//-                   img(src="assets/img/icons/logo.svg", alt="Мастер потолков")
//-                 .diamond-blocks-image(style="background-image: url(assets/img/mp-team.png)")
//-                 p.diamond-blocks-text.
//-                   Накопившийся опыт работы и сотрудничество только с наиболее 
//-                   надёжными поставщиками, позволяет нам предлагать своим клиентам 
//-                   гарантированно качественный материал со всеми необходимыми сертификатами.
//-                 a.diamond-blocks-button(href="#") Подробнее
//-           .diamond-blocks.diamond-blocks-right
//-             span.diamond-blocks-name Нам доверяют
//-             .diamond-blocks-item
//-               .diamond-blocks-logo
//-                 img(src="assets/img/koshelev-logo.png", alt="Кошелев проект")
//-               .diamond-blocks-image
//-                 .diamond-blocks-image-swiper.ds1
//-                   .swiper-wrapper
//-                     .diamond-blocks-image-swiper-slide(style="background-image: url(assets/img/koshelev-img-1.png)")
//-                     .diamond-blocks-image-swiper-slide(style="background-image: url(assets/img/koshelev-img-2.png)")
//-                   .diamond-blocks-image-swiper-button.diamond-blocks-image-swiper-button-prev
//-                   .diamond-blocks-image-swiper-button.diamond-blocks-image-swiper-button-next
//-               p.diamond-blocks-text.
//-                 Накопившийся опыт работы и сотрудничество только с наиболее надёжными поставщиками, 
//-                 позволяет нам предлагать своим клиентам гарантированно качественный материал 
//-                 со всеми необходимыми сертификатами и оказывать высококвалифицированную услугу 
//-                 по монтажу потолков.
//-             .diamond-blocks-item
//-               .diamond-blocks-logo
//-                 img(src="assets/img/mntk-logo.png", alt="МНТК")
//-               .diamond-blocks-image
//-                 .diamond-blocks-image-swiper.ds2
//-                   .swiper-wrapper
//-                     .diamond-blocks-image-swiper-slide(style="background-image: url(assets/img/mntk-img-1.png)")
//-                     .diamond-blocks-image-swiper-slide(style="background-image: url(assets/img/mntk-img-2.png)")
//-                   .diamond-blocks-image-swiper-button.diamond-blocks-image-swiper-button-prev
//-                   .diamond-blocks-image-swiper-button.diamond-blocks-image-swiper-button-next
//-               p.diamond-blocks-text.
//-                 Накопившийся опыт работы и сотрудничество только с наиболее надёжными поставщиками, 
//-                 позволяет нам предлагать своим клиентам гарантированно качественный материал 
//-                 со всеми необходимыми сертификатами и оказывать высококвалифицированную услугу 
//-                 по монтажу потолков..
//-             .diamond-blocks-item
//-               .diamond-blocks-logo
//-                 img(src="assets/img/yandex-logo.png", alt="МНТК")
//-               .diamond-blocks-image
//-                 .diamond-blocks-image-swiper.ds3
//-                   .swiper-wrapper
//-                     .diamond-blocks-image-swiper-slide(style="background-image: url(assets/img/yandex-img-1.png)")
//-                     .diamond-blocks-image-swiper-slide(style="background-image: url(assets/img/yandex-img-2.png)")
//-                   .diamond-blocks-image-swiper-button.diamond-blocks-image-swiper-button-prev
//-                   .diamond-blocks-image-swiper-button.diamond-blocks-image-swiper-button-next
//-               p.diamond-blocks-text.
//-                 Накопившийся опыт работы и сотрудничество только с наиболее надёжными поставщиками, 
//-                 позволяет нам предлагать своим клиентам гарантированно качественный материал 
//-                 со всеми необходимыми сертификатами.
//-               a.diamond-blocks-button(href="#") Подробнее
//-           a(href="#").diamond-button.diamond-button-right
//-             span.diamond-button-text Нам
//-               br
//-               |доверяют
//-             span.diamond-button-bg-text Д
//-             include ../../../assets/img/icons/long-arrow-right.svg