.container
  .row
    .col-12
      span.screen-heading.faq-heading.wow.fadeInUp Часто задаваемые вопросы
    .col-10.offset-1
      .faq-blocks.wow.fadeInUp
        a(href="#").faq-blocks-item
          .faq-blocks-item-border
            span Где и как
              br
              |оплатить
              br
              |заказ?
        a(href="#").faq-blocks-item
          .faq-blocks-item-border
            span Что
              br
              |устанавливать
              br
              |в первую
              br
              |очередь
              br
              |- шкаф или
              br
              |потолок?
        a(href="#").faq-blocks-item
          .faq-blocks-item-border
            span Натяжной
              br
              |потолок делать
              br
              |перед ремонтом
              br
              |или после?
        a(href="#").faq-blocks-item
          .faq-blocks-item-border
            span У меня вытяжка
              br
              |(4,5,10 см)
              br
              |под потолком
              br
              |– можно ли
              br
              |сделать потолок?
        a(href="#").faq-blocks-item
          .faq-blocks-item-border
            span Что
              br
              |устанавливать
              br
              |в первую
              br
              |очередь
              br
              |- шкаф или
              br
              |потолок?
        a(href="#").faq-blocks-item
          .faq-blocks-item-border
            span Где и как
              br
              |оплатить
              br
              |заказ?
        a(href="#").faq-blocks-item
          .faq-blocks-item-border
            span Что
              br
              |устанавливать
              br
              |в первую
              br
              |очередь
              br
              |- шкаф или
              br
              |потолок?
        a(href="#").faq-blocks-item
          .faq-blocks-item-border
            span Натяжной
              br
              |потолок делать
              br
              |перед ремонтом
              br
              |или после?
        a(href="#").faq-blocks-item
          .faq-blocks-item-border
            span У меня вытяжка
              br
              |(4,5,10 см)
              br
              |под потолком
              br
              |– можно ли
              br
              |сделать потолок?
        a(href="#").faq-blocks-item
          .faq-blocks-item-border
            span Что
              br
              |устанавливать
              br
              |в первую
              br
              |очередь
              br
              |- шкаф или
              br
              |потолок?
        a(href="#").faq-blocks-item
          .faq-blocks-item-border
            span Натяжной
              br
              |потолок делать
              br
              |перед ремонтом
              br
              |или после?
        a(href="#").faq-blocks-item
          .faq-blocks-item-border
            span У меня вытяжка
              br
              |(4,5,10 см)
              br
              |под потолком
              br
              |– можно ли
              br
              |сделать потолок?

