.feedback
  .d-none.d-md-block.feedback-like.wow.fadeInLeft
  .container
    .row
      .col-12
        span.screen-heading.feedback-heading.wow.fadeInUp
          span Примеры работ и отзывы клиентов
        span.screen-description.feedback-description.wow.fadeInUp Посмотрите реальные фотографии натяжных потолков,
          br
          |установленных в квартирах и домах наших клиентов.
        span.d-none.d-md-block.feedback-hashtag.wow.fadeInRight #спасибомастерпотолков

      //- .col-lg-10.col-xl-5.offset-lg-1
      .col-lg-10.offset-lg-1
        .feedback-items-swiper
          .swiper-wrapper

            .feedback-item-wrapper
              .feedback-item.wow.fadeInLeft
                .feedback-item-rating
                  .feedback-item-rating-stars
                    i
                    i
                    i
                    i
                    i
                  span Оценка заказчика
                span.feedback-item-name Потолок в коридор Потолок в коридор
                  span.feedback-item-area 14 м²
                span.feedback-item-options
                  span.feedback-item-options-prev Влючено:
                  span Полотно: L512
                  span Полотно: L512
                  span Полотно: L512
                  span Полотно: L512
                  span Полотно: L512
                  span Полотно: L512

                .feedback-item-price
                  |Стоимость:
                  br
                  span 5 960
                    |
                    |
                    span.rubl ₽
                .feedback-item-city г. Москва
                  br
                  |ул Большая Грузинская 32
                .feedback-item-images
                  a(href="#").d-none.d-md-flex.feedback-button.feedback-button-like
                    i(style="background-image: url(assets/img/icons/heart.svg)")
                    span 15
                  //- a(href="#").d-none.d-md-flex.button.button-share
                  //-   i(style="background-image: url(assets/img/icons/share.svg)")
                  .feedback-swiper.s1
                    .swiper-wrapper
                      a(href="assets/img/feedback-1.jpg" data-fancybox="feedback-gallery-1").feedback-swiper-slide
                        img(src="assets/img/feedback-1.jpg", alt="")
                      a(href="assets/img/feedback-1.jpg" data-fancybox="feedback-gallery-1").feedback-swiper-slide
                        img.swiper-lazy(data-src="assets/img/feedback-1.jpg", alt="")
                        .swiper-lazy-preloader
                      a(href="assets/img/feedback-1.jpg" data-fancybox="feedback-gallery-1").feedback-swiper-slide
                        img.swiper-lazy(data-src="assets/img/feedback-1.jpg", alt="")
                        .swiper-lazy-preloader
                      a(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="feedback-gallery-1").feedback-swiper-slide.feedback-swiper-slide-video
                        img.swiper-lazy(data-src="assets/img/feedback-1.jpg", alt="")
                        .swiper-lazy-preloader
                  .feedback-thumbs.t1
                    .swiper-wrapper
                      .feedback-thumbs-thumb
                        img(src="assets/img/feedback-1.jpg", alt="")
                      .feedback-thumbs-thumb
                        img(src="assets/img/feedback-1.jpg", alt="")
                      .feedback-thumbs-thumb
                        img(src="assets/img/feedback-1.jpg", alt="")
                      .feedback-thumbs-thumb.feedback-thumbs-thumb-video
                        img(src="assets/img/feedback-1.jpg", alt="")

            //- .d-none.d-sm-block.d-md-none.d-xl-block.col-lg-10.offset-lg-1.col-xl-5.offset-xl-0

            .feedback-item-wrapper
              .feedback-item.wow.fadeInRight
                .feedback-item-rating
                  .feedback-item-rating-stars
                    i
                    i
                    i
                    i
                    i
                  span Оценка заказчика
                span.feedback-item-name Потолок в коридор
                  span.feedback-item-area 14 м²
                span.feedback-item-options
                  span.feedback-item-options-prev Влючено:
                  span Полотно: L512
                  span Полотно: L512
                  span Полотно: L512
                  span Полотно: L512
                  span Полотно: L512
                  span Полотно: L512

                .feedback-item-price
                  span 5 960
                    |
                    |
                    span.rubl ₽
                .feedback-item-city г. Москва
                  br
                  | ул Большая Грузинская 32
                .feedback-item-images
                  a(href="#").d-none.d-md-flex.feedback-button.feedback-button-like
                    i(style="background-image: url(assets/img/icons/heart.svg)")
                    span 15
                  //- a(href="#").d-none.d-md-flex.button.button-share
                  //-   i(style="background-image: url(assets/img/icons/share.svg)")
                  .feedback-swiper.s2
                    .swiper-wrapper
                      a(href="assets/img/feedback-1.jpg" data-fancybox="feedback-gallery-2").feedback-swiper-slide
                        img(src="assets/img/feedback-1.jpg", alt="")
                      a(href="assets/img/feedback-1.jpg" data-fancybox="feedback-gallery-2").feedback-swiper-slide
                        img.swiper-lazy(data-src="assets/img/feedback-1.jpg", alt="")
                        .swiper-lazy-preloader
                      a(href="assets/img/feedback-1.jpg" data-fancybox="feedback-gallery-2").feedback-swiper-slide
                        img.swiper-lazy(data-src="assets/img/feedback-1.jpg", alt="")
                        .swiper-lazy-preloader
                      a(href="https://www.youtube.com/watch?v=LsJkJWn0_JM" data-fancybox="feedback-gallery-2").feedback-swiper-slide.feedback-swiper-slide-video
                        img.swiper-lazy(data-src="assets/img/feedback-1.jpg", alt="")
                        .swiper-lazy-preloader
                  .feedback-thumbs.t2
                    .swiper-wrapper
                      .feedback-thumbs-thumb
                        img(src="assets/img/feedback-1.jpg", alt="")
                      .feedback-thumbs-thumb
                        img(src="assets/img/feedback-1.jpg", alt="")
                      .feedback-thumbs-thumb
                        img(src="assets/img/feedback-1.jpg", alt="")
                      .feedback-thumbs-thumb.feedback-thumbs-thumb-video
                        img(src="assets/img/feedback-1.jpg", alt="")

            //- .d-none.d-xl-block.col-lg-10.col-xl-5.offset-lg-1

            .feedback-item-wrapper
              .feedback-item.wow.fadeInLeft
                .feedback-item-rating
                  .feedback-item-rating-stars
                    i
                    i
                    i
                    i
                    i
                  span Оценка заказчика
                span.feedback-item-name Потолок в коридор
                  |
                  |
                  span.feedback-item-area 14 м²
                span.feedback-item-options
                  span.feedback-item-options-prev Влючено:
                  span Полотно: L512
                  span Полотно: L512
                  span Полотно: L512
                  span Полотно: L512
                  span Полотно: L512
                  span Полотно: L512

                .feedback-item-price
                  span 5 960
                    |
                    |
                    span.rubl ₽
                .feedback-item-city г. Москва
                .feedback-item-images
                  a(href="#").d-none.d-md-flex.feedback-button.feedback-button-like
                    i(style="background-image: url(assets/img/icons/heart.svg)")
                    span 15
                  //- a(href="#").d-none.d-md-flex.button.button-share
                  //-   i(style="background-image: url(assets/img/icons/share.svg)")
                  .feedback-swiper.s3
                    .swiper-wrapper
                      a(href="assets/img/feedback-1.jpg" data-fancybox="feedback-gallery-3").feedback-swiper-slide
                        img(src="assets/img/feedback-1.jpg", alt="")
                      a(href="assets/img/feedback-1.jpg" data-fancybox="feedback-gallery-3").feedback-swiper-slide
                        img.swiper-lazy(data-src="assets/img/feedback-1.jpg", alt="")
                        .swiper-lazy-preloader
                      a(href="assets/img/feedback-1.jpg" data-fancybox="feedback-gallery-3").feedback-swiper-slide
                        img.swiper-lazy(data-src="assets/img/feedback-1.jpg", alt="")
                        .swiper-lazy-preloader
                      a(href="https://www.youtube.com/watch?v=LsJkJWn0_JM" data-fancybox="feedback-gallery-3").feedback-swiper-slide.feedback-swiper-slide-video
                        img.swiper-lazy(data-src="assets/img/feedback-1.jpg", alt="")
                        .swiper-lazy-preloader
                  .feedback-thumbs.t3
                    .swiper-wrapper
                      .feedback-thumbs-thumb
                        img(src="assets/img/feedback-1.jpg", alt="")
                      .feedback-thumbs-thumb
                        img(src="assets/img/feedback-1.jpg", alt="")
                      .feedback-thumbs-thumb
                        img(src="assets/img/feedback-1.jpg", alt="")
                      .feedback-thumbs-thumb.feedback-thumbs-thumb-video
                        img(src="assets/img/feedback-1.jpg", alt="")

            //- .d-none.d-xl-block.col-lg-10.offset-lg-1.col-xl-5.offset-xl-0

            .feedback-item-wrapper
              .feedback-item.wow.fadeInRight
                .feedback-item-rating
                  .feedback-item-rating-stars
                    i
                    i
                    i
                    i
                    i
                  span Оценка заказчика
                span.feedback-item-name Потолок в коридор
                  |
                  |
                  span.feedback-item-area 14 м²
                span.feedback-item-options
                  span.feedback-item-options-prev Влючено:
                  span Полотно: L512
                  span Полотно: L512
                  span Полотно: L512
                  span Полотно: L512
                  span Полотно: L512
                  span Полотно: L512

                .feedback-item-price
                  span 5 960
                    |
                    |
                    span.rubl ₽
                .feedback-item-city г. Москва
                .feedback-item-images
                  a(href="#").d-none.d-md-flex.feedback-button.feedback-button-like
                    i(style="background-image: url(assets/img/icons/heart.svg)")
                    span 15
                  //- a(href="#").d-none.d-md-flex.button.button-share
                  //-   i(style="background-image: url(assets/img/icons/share.svg)")
                  .feedback-swiper.s4
                    .swiper-wrapper
                      a(href="assets/img/feedback-1.jpg" data-fancybox="feedback-gallery-4").feedback-swiper-slide
                        img(src="assets/img/feedback-1.jpg", alt="")
                      a(href="assets/img/feedback-1.jpg" data-fancybox="feedback-gallery-4").feedback-swiper-slide
                        img.swiper-lazy(data-src="assets/img/feedback-1.jpg", alt="")
                        .swiper-lazy-preloader
                      a(href="assets/img/feedback-1.jpg" data-fancybox="feedback-gallery-4").feedback-swiper-slide
                        img.swiper-lazy(data-src="assets/img/feedback-1.jpg", alt="")
                        .swiper-lazy-preloader
                      a(href="https://www.youtube.com/watch?v=LsJkJWn0_JM" data-fancybox="feedback-gallery-4").feedback-swiper-slide.feedback-swiper-slide-video
                        img.swiper-lazy(data-src="assets/img/feedback-1.jpg", alt="")
                        .swiper-lazy-preloader
                  .feedback-thumbs.t4
                    .swiper-wrapper
                      .feedback-thumbs-thumb
                        img(src="assets/img/feedback-1.jpg", alt="")
                      .feedback-thumbs-thumb
                        img(src="assets/img/feedback-1.jpg", alt="")
                      .feedback-thumbs-thumb
                        img(src="assets/img/feedback-1.jpg", alt="")
                      .feedback-thumbs-thumb.feedback-thumbs-thumb-video
                        img(src="assets/img/feedback-1.jpg", alt="")
          .feedback-items-swiper-nav
            .feedback-items-swiper-button.feedback-items-swiper-button-prev
            .feedback-items-swiper-pagination
            .feedback-items-swiper-button.feedback-items-swiper-button-next

      .col-12
        .feedback-see-more
          a(href="#") Смотреть все отзывовы
