.free-lamp
  .d-none.d-md-block.free-lamp-arrow
    include ../../../assets/img/wide-arrow-bg.svg
  .container
    .row
      .col-10.col-md-7.col-lg-6.col-xl-5.offset-1
        .free-lamp-promo.wow.fadeInUp
          span Акция дня
            br
            |только до
            br
            b 03.12
        span.free-lamp-heading.wow.fadeInUp Светильники в&nbsp;подарок
          .free-lamp-heading-mobile-block
            div
              i(style="background-image: url(assets/img/icons/paint.svg)")
              span.d-inline-block.d-md-none 3 цвета на
                br
                |выбор
            div
              i(style="background-image: url(assets/img/icons/lamp-group.svg)")
              span.d-inline-block.d-md-none Бесплатный подбор
                br
                |схемы освещения
        span.free-lamp-description.wow.fadeInUp Вы получаете бесплатно потолочные светильники
          br
          |в безлмитном количестве
        br
        form
          .personal-guarantee-request-input
            //- include ../../../assets/img/icons/user.svg
            input(type="text" placeholder="Имя" style="background-image: url(assets/img/icons/user.png)")
          .personal-guarantee-request-input
            //- include ../../../assets/img/icons/phone-magenta.svg
            input.add-phone-mask(type="tel" placeholder="Телефон" style="background-image: url(assets/img/icons/phone-magenta.png)")
          button.free-lamp-button(href="#") Хочу бесплатные светильники
      .d-none.d-xl-block.col-3.offset-xxl-1
        .free-lamp-icons
          .free-lamp-icons-item
            i(style="background-image: url(assets/img/icons/lamp.svg)")
            span
              |Безлимитное
              br
              |количество
              br
              |светильников
          .free-lamp-icons-item
            i(style="background-image: url(assets/img/icons/paint.svg)")
            span
              |3 цвета на
              br
              |выбор
          .free-lamp-icons-item
            i(style="background-image: url(assets/img/icons/lamp-group.svg)")
            span
              |Бесплатный
              br
              |подбор схемы
              br
              |освещения
          .free-lamp-icons-item
            i(style="background-image: url(assets/img/icons/promo-time.svg)")
            span 
              |Только до 
              br
              |22 января
      .free-lamp-gift.wow.fadeInRight.rellax(data-rellax-speed="2", data-rellax-percentage="0.5")
      span.free-lamp-gift-text Бесплатно!
      include ../../../assets/img/icons/free-lamp-arrow.svg

  .free-lamp-arrow-bottom
    include ../../../assets/img/wide-arrow-bg-bottom.svg
  