.container
  .row
    .col-12
      .wow.fadeInUp.gallery
        span.gallery-heading Фотогалерея
        span.gallery-description готовых работ
        .gallery-grid
          .swiper-wrapper
            .gallery-grid-item
              a(data-fancybox="catalog-inner-gallery-1" data-back-focus="false" href="assets/img/catalog-sample-image-1.jpg")
                img(src="assets/img/catalog-sample-image-1.jpg")
            .gallery-grid-item
              a(data-fancybox="catalog-inner-gallery-1" data-back-focus="false" href="assets/img/catalog-sample-image-1.jpg")
                img(src="assets/img/catalog-sample-image-1.jpg")
            .gallery-grid-item
              a(data-fancybox="catalog-inner-gallery-1" data-back-focus="false" href="assets/img/catalog-sample-image-1.jpg")
                img(src="assets/img/catalog-sample-image-1.jpg")
            .gallery-grid-item
              a(data-fancybox="catalog-inner-gallery-1" data-back-focus="false" href="assets/img/catalog-sample-image-1.jpg")
                img(src="assets/img/catalog-sample-image-1.jpg")
            .gallery-grid-item
              a(data-fancybox="catalog-inner-gallery-1" data-back-focus="false" href="assets/img/catalog-sample-image-1.jpg")
                img(src="assets/img/catalog-sample-image-1.jpg")
            .gallery-grid-item
              a(data-fancybox="catalog-inner-gallery-1" data-back-focus="false" href="assets/img/catalog-sample-image-1.jpg")
                img(src="assets/img/catalog-sample-image-1.jpg")
            .gallery-grid-item
              a(data-fancybox="catalog-inner-gallery-1" data-back-focus="false" href="assets/img/catalog-sample-image-1.jpg")
                img(src="assets/img/catalog-sample-image-1.jpg")
            .gallery-grid-item
              a(data-fancybox="catalog-inner-gallery-1" data-back-focus="false" href="assets/img/catalog-sample-image-1.jpg")
                img(src="assets/img/catalog-sample-image-1.jpg")
            .gallery-grid-item
              a(data-fancybox="catalog-inner-gallery-1" data-back-focus="false" href="assets/img/catalog-sample-image-1.jpg")
                img(src="assets/img/catalog-sample-image-1.jpg")
            .gallery-grid-item
              a(data-fancybox="catalog-inner-gallery-1" data-back-focus="false" href="assets/img/catalog-sample-image-1.jpg")
                img(src="assets/img/catalog-sample-image-1.jpg")
            .gallery-grid-item
              a(data-fancybox="catalog-inner-gallery-1" data-back-focus="false" href="assets/img/catalog-sample-image-1.jpg")
                img(src="assets/img/catalog-sample-image-1.jpg")
            .gallery-grid-item
              a(data-fancybox="catalog-inner-gallery-1" data-back-focus="false" href="assets/img/catalog-sample-image-1.jpg")
                img(src="assets/img/catalog-sample-image-1.jpg")
          .d-sm-none.ready-solutions-grid-button.ready-solutions-grid-button-prev
          .d-sm-none.ready-solutions-grid-button.ready-solutions-grid-button-next
