.measurement
  .container
    .row
      .col-7.col-md-5.col-xl-4.offset-lg-1
        .wow.fadeInLeft.measurement-text
          span.
            Бесплатный замер с&nbsp;точностью до&nbsp;миллиметра и&nbsp;всего за&nbsp;15-20 минут
          p Ваш потолок будет смонтирован с&nbsp;первого раза без&nbsp;переделок благодаря точному замеру и&nbsp;отсутствию ошибок.
          p Просто оставьте заявку и&nbsp;замерщик приедет к&nbsp;вам домой в&nbsp;удобное для&nbsp;вас время.
          p Вы получаете бесплатно техническую консультацию, точный замер и&nbsp;расчет стоимости. Вам не придется тратить время на&nbsp;посещение офиса.
          p А&nbsp;еще получите
            |
            |
            b бонус 500 рублей,
            |
            |
            |который суммируется с&nbsp;другими акциями.
        form.wow.fadeInLeft.measurement-form
          legend Ваш номер телефона
          input(type="tel" placeholder="+7 (___) ___ __ __").add-phone-mask
          button Вызвать замерщика бесплатно
      .col-5.col-md-6
        .wow.fadeInRight.measurement-person(style="background-image: url(assets/img//measurement-person.png)")
