.d-none.d-xl-flex.our-benefits
  .our-benefits-img(style="background-image: url(assets/img/installation.png)")
  .our-benefits-part
    span.our-benefits-part-heading.our-benefits-part-heading-01
      i(style="background-image: url(assets/img/icons/helmet.svg)")
      span 32 бригады
        br
        |монтажников
    span.our-benefits-part-number.our-benefits-part-number-01 01
    ul.our-benefits-part-list.our-benefits-part-list-dot
      li Справляемся вовремя с самыми крупными заказами – одновременно монтируем 
        |потолки в коттедже в Калуге, в бизнес-центре в Москве и в нескольких 
        |квартирах в Московской области.
      li Опыт мастеров - от 4 до 12 лет. 
      li Несем материальную ответственность за сохранность вашего ремонта и имущества. 
      li Требовательные бригадиры.
      li Быстрая и чистая работа. Монтаж – от 2 часов. 
      li Делаем уборку после монтажа, выносим мусор.
      li Монтажники прошли аттестацию, имеют сертификаты гособразца 
        |на допуск к работе с газовым оборудованием. Потолки монтируем качественно 
        |с первого раза. Аккуратно обходим трубы, вписываем шкафы-купе.
  .our-benefits-part
    span.our-benefits-part-heading.our-benefits-part-heading-02
      i(style="background-image: url(assets/img/icons/people.svg)")
      span 29.3k ДОВОЛЬНЫХ
        br
        |КЛИЕНТОВ
    span.our-benefits-part-number.our-benefits-part-number-02 02
    ul.our-benefits-part-list.our-benefits-part-list-arrow
      li Продумали сервис в деталях. Благодаря этому индекс NPS (лояльности клиентов) 
        |за 2017 год составил 97%. Это говорит о том, что наши клиенты готовы 
        |рекомендовать нас своим знакомым. Более 60% новых заказов происходит по рекомендации
      li 5 лет - минимальный опыт работы сотрудников. Приветливые и внимательные менеджеры, 
        |аттестованные замерщики и сертифицированные по ГОСТу монтажники обеспечат наилучший 
        |результат вне зависимости от сложности исходных требований
      li Лучшая цена Благодаря отсутствию посредников и собственному производству даем 
        |цену на 25% ниже средней 300 р. 199р/м2
  .our-benefits-img(style="background-image: url(assets/img/feedback-1.png)")