.container
  .row
    .col-12
      .wow.fadeInUp.ready-solutions
        span.gallery-heading примеры готовых работ
        span.gallery-description топ-5 самых популярных решений
        .ready-solutions-grid
          .swiper-wrapper
            .ready-solutions-grid-item
              .ready-solutions-grid-item-image
                img(src="assets/img/catalog-sample-image-1.jpg")
              .ready-solutions-grid-item-table
                table
                  caption БЕЛЫЙ МАТОВЫЙ ПОТОЛОК В&nbsp;ПРИХОЖУЮ 15м²
                  thead
                    tr
                      th Материалы и&nbsp;работа
                      th
                  tbody
                    tr
                      td Полотно коллекции «Baseline»
                      td
                    tr
                      td Профиль до&nbsp;10&nbsp;м.п
                      td
                    tr
                      td Установка точечного светильника с&nbsp;проводкой, 3&nbsp;шт
                      td
                    tr
                      td Углы, 4&nbsp;шт.
                      td
                    tr
                      td Замер, доставка
                      td
                    tr.ready-solutions-grid-item-table-sale
                      td Скидка
                        |
                        |
                        b 39%
                        |
                        |до&nbsp;25 сентября
                      td
                    tr.ready-solutions-grid-item-table-total
                      td Итого
                      td 1500
                    tr.ready-solutions-grid-item-table-credit
                      td В рассрочку
                        br
                        |на&nbsp;6 мес. под&nbsp;0%
                      td 500
                    tr.ready-solutions-grid-item-table-halva
                      td Оплати картой
                      td
                        div
            .ready-solutions-grid-item
              .ready-solutions-grid-item-image
                img(src="assets/img/catalog-sample-image-1.jpg")
              .ready-solutions-grid-item-table
                table
                  caption БЕЛЫЙ МАТОВЫЙ ПОТОЛОК В&nbsp;ПРИХОЖУЮ 15м²
                  thead
                    tr
                      th Материалы и&nbsp;работа
                      th
                  tbody
                    tr
                      td Полотно коллекции «Baseline»
                      td
                    tr
                      td Профиль до&nbsp;10&nbsp;м.п
                      td
                    tr
                      td Установка точечного светильника с&nbsp;проводкой, 3&nbsp;шт
                      td
                    tr
                      td Углы, 4&nbsp;шт.
                      td
                    tr
                      td Замер, доставка
                      td
                    tr.ready-solutions-grid-item-table-sale
                      td Скидка
                        |
                        |
                        b 39%
                        |
                        |до&nbsp;25 сентября
                      td
                    tr.ready-solutions-grid-item-table-total
                      td Итого
                      td 1500
                    tr.ready-solutions-grid-item-table-credit
                      td В рассрочку
                        br
                        |на&nbsp;6 мес. под&nbsp;0%
                      td 500
                    tr.ready-solutions-grid-item-table-halva
                      td Оплати картой
                      td
                        div
            .ready-solutions-grid-item
              .ready-solutions-grid-item-image
                img(src="assets/img/catalog-sample-image-1.jpg")
              .ready-solutions-grid-item-table
                table
                  caption БЕЛЫЙ МАТОВЫЙ ПОТОЛОК В&nbsp;ПРИХОЖУЮ 15м²
                  thead
                    tr
                      th Материалы и&nbsp;работа
                      th
                  tbody
                    tr
                      td Полотно коллекции «Baseline»
                      td
                    tr
                      td Профиль до&nbsp;10&nbsp;м.п
                      td
                    tr
                      td Установка точечного светильника с&nbsp;проводкой, 3&nbsp;шт
                      td
                    tr
                      td Углы, 4&nbsp;шт.
                      td
                    tr
                      td Замер, доставка
                      td
                    tr.ready-solutions-grid-item-table-sale
                      td Скидка
                        |
                        |
                        b 39%
                        |
                        |до&nbsp;25 сентября
                      td
                    tr.ready-solutions-grid-item-table-total
                      td Итого
                      td 1500
                    tr.ready-solutions-grid-item-table-credit
                      td В рассрочку
                        br
                        |на&nbsp;6 мес. под&nbsp;0%
                      td 500
                    tr.ready-solutions-grid-item-table-halva
                      td Оплати картой
                      td
                        div
            .ready-solutions-grid-item
              .ready-solutions-grid-item-image
                img(src="assets/img/catalog-sample-image-1.jpg")
              .ready-solutions-grid-item-table
                table
                  caption БЕЛЫЙ МАТОВЫЙ ПОТОЛОК В&nbsp;ПРИХОЖУЮ 15м²
                  thead
                    tr
                      th Материалы и&nbsp;работа
                      th
                  tbody
                    tr
                      td Полотно коллекции «Baseline»
                      td
                    tr
                      td Профиль до&nbsp;10&nbsp;м.п
                      td
                    tr
                      td Установка точечного светильника с&nbsp;проводкой, 3&nbsp;шт
                      td
                    tr
                      td Углы, 4&nbsp;шт.
                      td
                    tr
                      td Замер, доставка
                      td
                    tr.ready-solutions-grid-item-table-sale
                      td Скидка
                        |
                        |
                        b 39%
                        |
                        |до&nbsp;25 сентября
                      td
                    tr.ready-solutions-grid-item-table-total
                      td Итого
                      td 1500
                    tr.ready-solutions-grid-item-table-credit
                      td В рассрочку
                        br
                        |на&nbsp;6 мес. под&nbsp;0%
                      td 500
                    tr.ready-solutions-grid-item-table-halva
                      td Оплати картой
                      td
                        div





          .d-xxl-none.ready-solutions-grid-button.ready-solutions-grid-button-prev
          .d-xxl-none.ready-solutions-grid-button.ready-solutions-grid-button-next
