.you-become.d-none.d-sm-block
  span.you-become-bg-text.wow.fadeInLeft Получаете
  .container
    .row
      .col-10.offset-xl-1.offset-lg-2
        span.you-become-text-small.wow.fadeInLeft Выбирая нас,
        br
        span.you-become-text-big.wow.fadeInLeft вы
          br
          |получаете
      .col-12.col-lg-10.col-xl-9.offset-lg-2
        .you-become-benefits
          div(data-wow-delay="0.5s").you-become-benefits-blockquote.d-none.d-lg-block.wow.fadeInRight
            span.you-become-benefits-blockquote-semicolon „
            blockquote Это наш набор критериев удачной
              br
              |работы, который мы определили
              br
              |за 14 лет опыта
          .you-become-benefits-item.wow.fadeInLeft
            //- img(src="assets/img/icons/gears.svg", alt="Красивый потолок с монтажем под ключ")
            .you-become-benefits-item-icon(style="background-image: url(assets/img/icons/gears.svg)")
            span.you-become-benefits-item-heading КРАСИВЫЙ ПОТОЛОК с&nbsp;монтажом «под ключ»
            span.you-become-benefits-item-description Ровный потолок + шумоизоляция,
              |установим в&nbsp;потолок всё под ключ
              |- от&nbsp;освещения до&nbsp;встроенных
              |динамиков или&nbsp;шеста для&nbsp;pole dance!
          .you-become-benefits-item.wow.fadeInLeft
            //- img(src="assets/img/icons/hand.svg", alt="Красивый потолок с монтажем под ключ")
            .you-become-benefits-item-icon(style="background-image: url(assets/img/icons/hand.svg)")
            span.you-become-benefits-item-heading ЛУЧШУЮ ЦЕНУ
            span.you-become-benefits-item-description Длительные деловые отношения с&nbsp;ведущими
              |поставщиками материалов, большой объем
              |закупок и&nbsp;выверенная логистика, позволяют
              |нам предоставлять цену на 15% ниже средней
              |по&nbsp;городу, от&nbsp;450  290 руб/м2
          .you-become-benefits-item.wow.fadeInLeft
            //- img(src="assets/img/icons/blank.svg", alt="Красивый потолок с монтажем под ключ")
            .you-become-benefits-item-icon(style="background-image: url(assets/img/icons/blank.svg)")
            span.you-become-benefits-item-heading МОНТАЖ по&nbsp;нормам ГОСТ
            span.you-become-benefits-item-description Ваш потолок будет установлен идеально,
              |все наши монтажники прошли обучение
              |на&nbsp;работу по&nbsp;нормам ГОСТ 54961-2012
          div(data-wow-delay="0.5s").you-become-benefits-item.wow.fadeInRight
            //- img(src="assets/img/icons/hand-2.svg", alt="Красивый потолок с монтажем под ключ")
            .you-become-benefits-item-icon(style="background-image: url(assets/img/icons/hand-2.svg)")
            span.you-become-benefits-item-heading РАССРОЧКА прямо на&nbsp;месте
            span.you-become-benefits-item-description Оформите рассрочку на&nbsp;4 месяца
              |без&nbsp;процентов прямо при&nbsp;замере
              |потолка за&nbsp;5&nbsp;минут!
          div(data-wow-delay="0.5s").you-become-benefits-item.wow.fadeInRight
            //- img(src="assets/img/icons/free.svg", alt="Красивый потолок с монтажем под ключ")
            .you-become-benefits-item-icon(style="background-image: url(assets/img/icons/free.svg)")
            span.you-become-benefits-item-heading + 5 Бесплатных опций
            span.you-become-benefits-item-description
              i
              |
              |
              |Бесплатная установка люстры
              br
              i
              |
              |
              |Бесплатная доставка
              br
              i
              |
              |
              |Бесплатная разводка электрики
              br
              i
              |
              |
              |Бесплатный дизайн в 3D
              br
              i
              |
              |
              |Бесплатный сервис на 3 года
