.popup {
  display: none;
  max-width: 760px;
  width: 100%;
  max-height: calc(100% - 80px);
  padding: 60px;
  background: $white;
  overflow-y: auto;

  &-calculator {
    &::after {
      content: url("../assets/img/calculator.png");
      display: block;
      position: absolute;
      top: 145px;
      right: 40px;
      width: 250px;
      height: 385px;
    }

    .popup-text {
      display: inline-block;
      max-width: 260px;
      width: 100%;
      margin: 0 0 40px 0;
      font-size: 14px;
    }
  }

  &-form {
    position: relative;
    max-width: 400px;
    margin: 0 0 25px 0;

    input {
      width: 100%;
      padding: 10px 0;
      margin: 0 0 25px 0;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: $black;
      color: $black;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      transition: 0.3s;

      &:focus {
        outline: none;
        border-color: $magenta;
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 220px;
      height: 55px;
      background: $white;
      border: 1px solid $magenta;
      border-radius: 30px;
      color: $magenta;
      font-size: 11px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      transition: 0.3s;

      &:hover {
        color: $white;
        background: $magenta;
      }
    }
  }

  &-heading {
    display: block;
    position: relative;
    padding-right: 100px;
    margin-bottom: 81px;
    font-size: 32px;
    line-height: 1.1;

    span {
      display: block;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -39px;
      left: 0;
      width: 70px;
      height: 7px;
      background: #e50469;
    }
  }

  &-column {
    display: inline-block;
    margin: 0 0 14px 20px;
  }

  &-list {
    display: inline-block;
    list-style: none;
    font-size: 14px;
    vertical-align: top;

    &-title {
      display: block;
      margin: 0 0 10px 0;
      font-size: 14px;
      font-weight: bold;
    }

    li {
      margin: 0 0 4px 0;

      &::before {
        content: "- ";
      }
    }
  }

  &-confidentiality {
    display: inline-block;
    max-width: 500px;
    width: 100%;
    font-size: 14px;

    a {
      color: $black;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 767px) {
  .popup {
    &-heading {
      padding-right: 0;
    }
  }

  .popup-calculator {
    &::after {
      content: none;
      display: none;
    }
  }
}

@media screen and (max-width: 575px) {
  .popup {
    padding: 30px;

    &-heading {
      font-size: 25px;
    }
  }
}
