//colors

$white: #ffffff;

$gray-50: #fbfbfb;
$gray-100: #f1f1f1;
$gray-150: #f4f4f4;
$gray-200: #eaeaea;
$gray-300: #e8e8e8;
$gray-400: #e4e4e4;
$gray-500: #d2d2d2;
$gray-550: #c5c5c5;
$gray-575: #bababa;
$gray-590: #7a7a7a;
$gray-600: #585858;
$gray-700: #333333;
$gray-800: #292929;

$black: #000000;

$magenta: #e5046a;
$magenta-new: #ff0054;

$red: #f42625;
$red-sale: #e0194b;

$green: #3bcc3b;
$green-popup: #06971a;
$green-payment: #2fb580;

$blue-100: #b2e5ff;
$blue-200: #a2d6fb;

$purple-50: #f6f3ff;
$purple-200: #e0d9ec;
$purple-300: #5a6071;
$purple-400: #525869;

$card-width: 340px;
$card-margin: 40px;
