footer.footer
  //- .d-none.d-sm-block.footer-contacts
    .container
      .row
        .col-7.col-lg-6
          .footer-contacts-service
            include ../../assets/img/icons/24-hours.svg
            span Сервисная служба
              strong 24/7
        .col-5.col-lg-3.col-xl-4
          .footer-contacts-social
            a(href="#").footer-contacts-social-link
              include ../../assets/img/icons/telegram.svg
            a(href="#").footer-contacts-social-link
              include ../../assets/img/icons/whatsapp.svg
            a(href="#").footer-contacts-social-link
              include ../../assets/img/icons/viber.svg
            a(href="#").footer-contacts-social-link
              include ../../assets/img/icons/vk.svg
        .d-none.d-lg-block.col-3.col-xl-2
          .footer-contacts-phone
            i.fa.fa-phone
            |
            |
            a(href="tel:+79029315473") +7 902 931 54 73
  .footer-catalog
    .container
      .row
        .d-none.d-lg-block.col-10
          span.footer-catalog-heading Каталог потолков
          .row
            .col-3
              span.footer-catalog-sub-heading По назначению
              ul
                li
                  a(href="#") В гостинной
                li
                  a(href="#") В спальне
                li
                  a(href="#") В ванной
                li
                  a(href="#") На кухне
                li
                  a(href="#") В прихожей
                li
                  a(href="#") В частном доме
            .col-3
              span.footer-catalog-sub-heading По фактуре
              ul
                li
                  a(href="#") Глянцевые
                li
                  a(href="#") Матовые
                li
                  a(href="#") Сатиновые
                li
                  a(href="#") Тканевые
            .col-3
              span.footer-catalog-sub-heading Эксклюзивные решения
              ul
                li
                  a(href="#") Двухуровневые
                li
                  a(href="#") Фотопечать
                li
                  a(href="#") С подсветкой
                li
                  a(href="#") Звездное небо
                li
                  a(href="#") Комбинированные
                li
                  a(href="#") Дизайнерские фактуры
            .col-3
              span.footer-catalog-sub-heading Бренды
              ul
                li
                  a(href="#") Эко-потолки Pongs (Германия)
                li
                  a(href="#") Polyplast (Бельгия)
                li
                  a(href="#") MSD (Китай)
        .d-none.d-lg-block.col-2
          span.footer-catalog-heading
            a(href="#") О компании
          span.footer-catalog-heading
            a(href="#") Отзывы
          span.footer-catalog-heading
            a(href="#") Акции
          span.footer-catalog-heading
            a(href="#") Покупателям
          span.footer-catalog-heading
            a(href="#") Полезные статьи
          span.footer-catalog-heading
            a(href="#") Контакты
        .d-lg-none.col-12
          .footer-mobile
            .row
              .col-6.col-md-4.text-left
                a(href="#") Правовая информация
              .col-6.col-md-4.text-right.text-md-center
                a(href="#") Политика конфиденциальности
              .col-6.col-md-4.text-left.text-md-right
                a(href="#") Условия акции и предоставления бонусов
              .col-6.col-md-12.text-right.text-md-center
                a(href="#") Юридические реквизиты
  .d-none.d-lg-block.footer-bottom
    .container
      .row
        .col-6
          .footer-bottom-text-wrapper
            span.footer-bottom-text.footer-bottom-copyright © 2014 Мастер Потолков
            span.footer-bottom-text Москва, ул. Ленина, 102
            span.footer-bottom-text
              a.footer-bottom-link(href="tel:+7(495)2725678") +7 (495) 272-56-78
              a.footer-bottom-link(href="tel:+7(902)9315473") +7 (902) 931 54 73
        .col-6.d-flex
          a.footer-bottom-socials(href="#")
            include ../../assets/img/icons/youtube.svg
          a.footer-bottom-socials(href="#")
            include ../../assets/img/icons/facebook.svg
          a.footer-bottom-socials(href="#")
            include ../../assets/img/icons/vk-footer.svg
          a.footer-bottom-socials(href="#")
            include ../../assets/img/icons/instagram.svg
          .footer-contacts-service
            //- include ../../assets/img/icons/24-hours.svg
            i
            span Сервисная служба
              strong 24/7
