header
  .top-line-wrapper
    .container
      .row
        .col-12
          .top-line
            .top-line-city-choice-wrapper
              .top-line-city-choice
                a(href="#") Малоярославец
                span
            .d-none.d-md-block.top-line-service
              .top-line-service-item
                i
                span Сервисная служба 24/7
              .top-line-service-item
                i
                span Рассрочка 0-0-4
            .d-none.d-md-block.top-line-ask
              span Задайте вопрос
            .d-none.d-md-block.top-line-social
              a(href="#").top-line-social-link
                include ../../assets/img/icons/telegram.svg
              a(href="#").top-line-social-link
                include ../../assets/img/icons/whatsapp.svg
              a(href="#").top-line-social-link
                include ../../assets/img/icons/viber.svg
              a(href="#").top-line-social-link
                include ../../assets/img/icons/vk.svg
  .d-none.overlay
  .bottom-line-wrapper
    .container
      .row
        .col-12
          .bottom-line
            a(href="#").bottom-line-logo
              img.d-none.d-md-block(src="assets/img/icons/logo.svg" , alt="Мастер потолков")
              img.d-block.d-md-none(src="assets/img/icons/logo-mobile.svg", alt="Мастер потолков")
            span.bottom-line-text по версии газеты
              br
              |комсомольская
              br
              |правда
            .d-none.d-md-block.bottom-line-img-wrapper
              img.bottom-line-img(src="assets/img/peoples-choice.png", alt="народный выбор")
            .d-none.d-md-block.bottom-line-nav-wrapper
              ul.bottom-line-nav
                li
                  a.bottom-line-nav-link.bottom-line-nav-link-active(href="#") Каталог
                  ul
                    li
                      a(href="#") Название
                    li
                      a(href="#") Тип
                    li
                      a(href="#") Страна&nbsp;производитель
                    li
                      a(href="#") Материал
                    li
                      a(href="#") Производитель
                li
                  a.bottom-line-nav-link(href="#") Услуги
                  ul
                    li
                      a(href="#") Монтаж
                    li
                      a(href="#") Ремонт
                      ul
                        li
                          a(href="#") Ремонта&nbsp;после&nbsp;пореза
                        li
                          a(href="#") Ремонта&nbsp;после&nbsp;затопления
                    li
                      a(href="#") Гарантийное&nbsp;обслуживание
                    li
                      a(href="#") Сервисное&nbsp;обслуживание
                    li
                      a(href="#") Рассрочка
                    li
                      a(href="#") Вызов&nbsp;замерщика
                li
                  a.bottom-line-nav-link(href="#") Покупателям
                  ul
                    li
                      a(href="#") Калькулятор
                    li
                      a(href="#") Акции
                    li
                      a(href="#") 3D&nbsp;визуализация
                    li
                      a(href="#") Прайс лист
                    li
                      a(href="#") Подбор цвета
                    li
                      a(href="#") Фотогалерея
                li.d-none.d-md-inline
                  a.bottom-line-nav-link(href="#") О компании
                  ul
                    li
                      a(href="#") Вакансии
                    li
                      a(href="#") Новости
                    li
                      a(href="#") Статьи
                    li
                      a(href="#") FAQ
                    li
                      a(href="#") Отзывы
                li
                  a.bottom-line-nav-link(href="#") Контакты
            .bottom-line-info
              span Адрес: ул. Безлимитная 105/102
              |
              |
              span
                i
                |
                |
                a(href="tel:+7 (499) 649 76 85") +7 (499) 649 76 85
              |
              |
              span Ежедневно 9:00 - 19:00
            .hot-line
              a.phone_substitutemsk(href="tel:+78002221056") 8 800 222 10 56
              include ../../assets/img/icons/burger.svg
              span Звонок по России беспалтный
          .dropdown
            ul.dropdown-menu
              li
                a(href="#").dropdown-menu-link Каталог
                .dropdown-submenu
                  a(href="#").dropdown-submenu-back Каталог
                  ul
                    li
                      a(href="#") Назначение
                    li
                      a(href="#") Тип
                    li
                      a(href="#") Страна производитель
                    li
                      a(href="#") Материал
                    li
                      a(href="#") Производитель
              li
                a(href="#").dropdown-menu-link Услуги
                .dropdown-submenu
                  a(href="#").dropdown-submenu-back Услуги
                  ul
                    li
                      a(href="#") Монтаж
                    li
                      a(href="#") Ремонт
                      ul
                        li
                          a(href="#") Ремонт после пореза
                        li
                          a(href="#") Ремонт после затопления
                    li
                      a(href="#") Гарантийное обслуживание
                    li
                      a(href="#") Сервисное обслуживание
                    li
                      a(href="#") Рассрочка
                    li
                      a(href="#") Вызов замерщика
              li
                a(href="#").dropdown-menu-link Покупателям
                .dropdown-submenu
                  a(href="#").dropdown-submenu-back Покупателям
                  ul
                    li
                      a(href="#") Калькулятор
                    li
                      a(href="#") Акции!
                    li
                      a(href="#") 3D визуализация
                    li
                      a(href="#") Прайс лист
                    li
                      a(href="#") Подбор цвета
                    li
                      a(href="#") Фото галерея
              li
                a(href="#").dropdown-menu-link Контакты
                .dropdown-submenu
                  a(href="#").dropdown-submenu-back О компании
                  ul
                    li
                      a(href="#") Вакансии
                    li
                      a(href="#") Новости
                    li
                      a(href="#") Статьи
                    li
                      a(href="#") FAQ
                    li
                      a(href="#") Отзывы
              li
                a.dropdown-menu-link(href="https://habr.com/ru/post/242695/") Тестовый пункт
