<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    link(rel="apple-touch-icon", sizes="180x180", href="assets/img/icons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="assets/img/icons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="assets/img/icons/favicon-16x16.png")
    link(rel="manifest", href="assets/img/icons/site.webmanifest")
    link(rel="mask-icon", href="assets/img/icons/safari-pinned-tab.svg", color="#5bbad5")
    link(rel="shortcut icon", href="assets/img/icons/favicon.ico")
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="msapplication-config", content="assets/img/icons/browserconfig.xml")
    meta(name="theme-color", content="#e5046a")

    link(rel="stylesheet", href="styles/bootstrap.css")
    //- link(rel="stylesheet", href="styles/font-awesome.css")
    link(rel="stylesheet", href="styles/swiper.min.css")
    link(rel="stylesheet", href="styles/jquery.fancybox.min.css")
    link(rel="stylesheet", href="styles/jquery.datetimepicker.min.css")
    link(rel="stylesheet", href="styles/animate.min.css")
    link(rel="stylesheet", href="styles/main.css")
    link(rel="stylesheet", href="styles/dynamic-banner.css")
    link(rel="stylesheet", href="styles/popup-buy.css")
    block link
    title
      block title
  body.overflow-x-hidden
    include header.pug
    block content
    include footer.pug
    script(src="scripts/jquery.min.js")
    script
      include ../../scripts/components/ratesCalculator.js
    script(src="scripts/rangeslider.min.js")
    script(src="scripts/jquery.datetimepicker.full.min.js")
    script(src="scripts/swiper.min.js")
    script(src="scripts/wow.min.js")
    script(src="scripts/rellax.min.js")
    script(src="scripts/jquery.fancybox.min.js")
    script(src="scripts/jquery.inputmask.bundle.min.js")
    script(src="scripts/script.js")
    script(src="scripts/popup-buy.js")
    script
      include ../../scripts/components/datepicker.js
    script
      include ../../scripts/components/jivosite.js
