.popup#popup-office
  span.popup-heading Наши представительства
  .popup-column
    span.popup-list-title Калужская область
    ul.popup-list
      li Калуга
      li Балабаново
      li Малоярославец
      li Обнинск
  .popup-column
    span.popup-list-title Московская область
    ul.popup-list
      li Балашиха
      li Подольск
      li Химки
      li Королёв
      li Мытищи
      li Люберцы
      li Электросталь
      li Красногорск
      li Коломна
      li Одинцово
      li Серпухов

