.popup.popup-calculator#popup-calculator-catalog
  span.popup-heading Хочу потолок похожий на
    span категория потолка
  p.popup-text.
    Отправьте заявку на точный расчет
    стоимости и получите специальное
    выгодное предложение
  form(action="").popup-form
    input(type="text" placeholder="Ваш телефон *" required)
    input(type="hidden")#popup-ceiling-type
    button Получить расчет
      br
      |бесплатно
  span.popup-confidentiality
    |Нажимая на кнопку, Вы соглашаетесь на обработку персональных данных
    |и соглашаетесь с
    a(href="#") политикой конфиденциальности
    |.
