.popup.popup-calculator#popup-calculator
  span.popup-heading Точный расчет стоимости потолков
  p.popup-text.
    Отправьте заявку на точный расчет
    стоимости и получите специальное
    выгодное предложение
  form(action="").popup-form
    //- input(type="text" placeholder="Ваше имя *" required)
    input(type="text" placeholder="Ваш телефон *" required)
    button Расчитать стоимость
  span.popup-confidentiality
    |Нажимая на кнопку, Вы соглашаетесь на обработку персональных данных
    |и соглашаетесь с
    a(href="#") политикой конфиденциальности
    |.
