.criteria-item-circle-benefit-icon-tooltip
  span.criteria-item-circle-benefit-icon-tooltip-we
    b Мастер Потолков:
    br
    |
    |
    |Благодаря крупным объемам закупок материалов, работе напрямую с поставщиками, наличию 
    |в штате всех необходимых специалистов для установки и обслуживания натяжных потолков, 
    |мы гарантируем лучшую цену для наших клиентов.
  span.criteria-item-circle-benefit-icon-tooltip-concurents
    b Конкуренты:
    br
    |
    | 
    |85% компаний – мелкие, из 1-2 человек. Заработок не на объеме продаж, а на торговой 
    |наценке. Ради увеличения прибыли используют самые дешёвые материалы, зачастую пренебрегают 
    |технологиями установки и безопасности.